<html>
<body>
<h1>Edit Contact</h1>
<form action="/contact/{{ contact._id }}/edit" method="POST">
    <input type="text" name="FullName" value="{{ contact.FullName }}" required>
    <input type="number" name="Phone" value="{{ contact.Phone }}" required>
    <button type="submit">Update Contact</button>
</form>
<a href="/">Back to List</a>
</body>
</html>